<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">
            <h3>@Model.title</h3>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
            <h4>Date : @Model.datePublished</h4>
        </h6>
        <p class="card-text"><p>@Model.body</p>
    </div>
</div>